<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Diagnostico de Plantas</title>
    <link rel="stylesheet" href="../static/css/estilos.css"">
</head>
<body>
    <h1>🌱 Diagnostico de Plantas</h1>
    <form action="/evaluar" method="post">
        <label for="plant_name">Nombre de la planta</label>
        <input type="text" id="plant_name" name="plant_name" required>

        <label for="plant_type">Tipo de planta</label>
        <select id="plant_type" name="plant_type">
            <option value="cactus">Cactus</option>
            <option value="helecho">Helecho</option>
            <option value="suculenta">Suculenta</option>
            <option value="orquidea">Orquidea</option>
        </select>

        <label for="humidity">Humedad (%)</label>
        <input type="number" step="0.1" id="humidity" name="humidity" required>

        <label for="light">Luz (%)</label>
        <input type="number" step="0.1" id="light" name="light" required>

        <label for="temperature">Temperatura (°C)</label>
        <input type="number" step="0.1" id="temperature" name="temperature" required>

        <button type="submit">Diagnosticar</button>
    </form>
</body>
</html>
